#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media screen and (max-width: 768px) {
  .logo {
    height: 4em;
  }
  
}

header {
  display: flex;
  align-items: center;       
  padding: 10px 20px;
  justify-content: center;
  margin-left: 40px;
}

@media screen {
  header {
    flex-direction: flex;
    align-items: center;
  }
}

h2 {
  line-height: 1.1;
  margin: 0;     
  color: #2540b9c9;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 10%;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px;
    margin: 0 20px;
    text-align: center;
  }
}

.navigationBar {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  color: #132882c9;
  font-weight: bold;
}

@media screen {
  .navigationBar {
    flex-direction: column;
    align-items: center;
  }
  
}

.navRight {
  margin-left: auto;
  display: flex;
  font-family: 'Arial', sans-serif;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-end;
}

a {
  font-weight: 500;
  color: #4b83d8;
  text-decoration: inherit;
}

a:hover {
  color: #3466af;
}

.signUpForm, .loginForm, .ProjectDetailsForm {
  min-height: 100vh;         
  padding: 40px;       
  margin-right: 200px; 
  margin-left: 200px; 
  text-align: left; 
  width: 60%;
  color: black;
}


@media (max-width: 768px) {
  .signUpForm, .loginForm, .ProjectDetailsForm {
    margin: 20px;
    width: 80%;
  }
}

